<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<style>
    body{
    margin-top:30px;
    background-color: black;
    }
    #button_style{
        width:100%;
        margin-bottom: 20px;
        border-style: dotted;
        color: white;
        background-color: inherit;
        border-color: aqua;
        text-decoration: blink;
        cursor: pointer;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
</style>
</head>
<body>
    <div>
        <button id="button_style" onclick="renderDogs();">
        Outra
        </button>
    </div>
    <script>
        renderDogs();
        async function getRandomDog()
        {
            let url ="https://dog.ceo/api/breeds/image/random";
            try{
                let res = await fetch(url);
                return await res.json();
            }
            catch(error){
                console.log(error);
            }
        }
        async function renderDogs()
        {
            let dogs = await getRandomDog();
            var dog =[];
            dog = new Image();//created the image object
            dog.src=dogs.message;///taking the image path
            dog.width="1080";
            dog.height="720";
            var images = document.getElementsByTagName('img');
            ///limit the image display on screen
            var l=images.length;
            if(l==1)
            {
                    images[0].parentNode.removeChild(images[0]);
            }
            ///end of limit the image
            document.body.appendChild(dog);
        }
    ////////Its completed i hope you like it :P)
    </script>
</body>
</html>
