<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <style>
      button{
        display: block;
        width: 500px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 400px;
        margin-bottom: center;
      }
    </style>
  </head>
  <body>
      <button id="Botao1" name="button">Começar</button>
      <script type="text/javascript">
        document.getElementById("Botao1").onclick = function() {
            location.href = "/Pagina1"
        }
      </script>
  </body>
</html>
